<!doctype html>

<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<meta charset="utf-8">
	<title>About Find A Book For Me</title>
</head>

  <div class="container">
	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{url_for('splash')}}">
			  Find a Book for Me
			  <div class="ml-2 d-inline-block align-top dog-logo"></div>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto ml-2">
				<li class="nav-item active">
				  <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1" href="{{url_for('bookpage', pnumber = 1)}}">Books</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1" href="{{url_for('authorpage', pnumber = 1 )}}">Authors</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1" href="{{url_for('publishpage', pnumber = 1)}}">Publishers</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
				</li>
			  </ul>
				<ul class="nav navbar-nav navbar-right">
				<li>
					<form id="someForm" action= "/search/">
						<input id = "query" type="text" name = "query" placeholder="Search...">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submit_btn">Search</button>
					</form>
				</li>

			</ul>
			</div>
		</nav>
	</div>

 <body>
	<center>
	<div class = "container">
		<br />
			 <h2 class="font-weight-bold"><font size = 8> About Us </font></h2>
			 <p><font size = 3>We created a book database to help fellow book lovers find new reads or information about a specific book, author, or publisher</font></p>
		<br />
			 <h2 class="font-weight-bold"><font size = 7> Our Team </font></h2>


		<br />
		<hr width = "100%">
		</center>
		<div class = "container">
			<center>
			<div class = "row">
				<div class = "col align-self-center">
					<h2><font size = 5 align = "center"> Emma McKelvain </font></h2>
				</div>
			</div>
			</center>
			<div class = "row">
				<right>
				<div class = "col">
					<img src="../static/images/Emma.JPG" class="rounded-circle" width="220px" />
				</div>
				</right>
				<div class = "col">
						<br />

						<div><right>
							<p> Bio: Emma is a Sophomore actuarial mathematics major. During her free time, she likes to read and hang out with friends</p>
							<p> Responsibilities: Emma's responsibilities in this project were front-end relted, including adding pagination and designing publisher, author, book, and about pages as well as contributing to the overall aesthetic of the website.</p>
							<p> Commits:  <span class="badge badge-pill badge-danger"> 12 </span></p>
							<p> Issues:  <span class="badge badge-pill badge-danger"> 9 </span></p>
							<p> Unit Tests:  <span class="badge badge-pill badge-danger"> 4 </span></p>
							<p></p>
							<p>Checkout my favorite author
							<a href="http://findabookfor.me/author/1892-01-03">J. R. R. Tolkien</a></p>

						</div>
				</div>
			</div>
		</div>

		<br />
		<hr width = "50%">
		<div class = "container">
			<center>
			<div class = "row">
				<div class = "col align-self-center">
					<h2><font size = 5 align = "center"> Will Biediger </font></h2>
				</div>
			</div>
			</center>
			<div class = "row">
				<right>
				<div class = "col">
					<img src="../static/images/Will.png" class="rounded-circle" width="320px" />
				</div>
				</right>
				<div class = "col">
						<br />

						<div>
							<p> Bio: Will is a Junior math major interested in actuarial science. He enjoys table tennis in his free time. </p>
							<p> Responsibilities: Will's main responsibility in this project was making all of the links work (back end) using the database.
								Will also helped with the global search bar. </p>
							<p> Commits:  <span class="badge badge-pill badge-danger"> 70 </span> </p>
							<p> Issues:  <span class="badge badge-pill badge-danger"> 12 </span> </p>
							<p> Unit Tests:  <span class="badge badge-pill badge-danger"> 5 </span> </p>
							<p>Checkout my favorite book
							<a href="http://findabookfor.me/book/YY4EAAAAYAAJ">The Origin of Species</a></p>
						</div>
				</div>
			</div>
		</div>

		<br />
		<hr width = "50%">
		<div class = "container">
			<center>
			<div class = "row">
				<div class = "col align-self-center">
					<h2><font size = 5 align = "center"> Erin Maes </font></h2>
				</div>
			</div>
			</center>
			<div class = "row">
				<right>
				<div class = "col">
					<img src="../static/images/erin.JPG" class="rounded-circle" width="220px"  />
				</div>
				</right>
				<div class = "col">
						<br />
						<div>
							<p>Bio: Erin is an applied mathematics major in her final semester at UT. She enjoys playing euphonium in the Longhorn Pep Band and helping as an undergraduate teaching assistant for biostatistics.
								In addition to mostly coding in Python for the Elements Certificate classes, she has coded in C++, MATLAB, and R for other courses.</p>
							<p>Responsibilities: Erin's responsibilities for this project were designing the author pages, helping with broken links, deploying on GCP, and adding to the wiki. Erin also wrote several unit tests for the second phase and created the button to run the tests. For the third phase, Erin used NameCheap to point findabookfor.me to the old URL, and created the PowerPoint presentation.
							<p>Commits:  <span class="badge badge-pill badge-danger"> 27 </span> </p>
							<p>Issues:  <span class="badge badge-pill badge-danger"> 9 </span> </p>
							<p>Unit Tests:  <span class="badge badge-pill badge-danger"> 5 </span> </p>
							<p>Checkout my favorite book
							<a href="http://findabookfor.me/book/9780307807533">The Diary of a Young Girl</a></p>
						</div>
				</div>
			</div>
		</div>

		<br />
		<hr width = "50%">
		<div class = "container">
			<center>
			<div class = "row">
				<div class = "col align-self-center">
					<h2><font size = 5 align = "center"> Son Do </font></h2>
				</div>
			</div>
			</center>
			<div class = "row">
				<right>
				<div class = "col">
					<img src="../static/images/son.jpg" class="rounded-circle" width="220px" />
				</div>
				</right>
				<div class = "col">
						<br />
						<div>
							<p> Bio: Son is a Junior Chemical Engineering major. He loves boxing and watching cat video. He codes in Python and MATLAB </p>
							<p> Responsibilities: Son's main responsibility in this project was front-end related, including adding pagination and sorting and designing publisher, author, book, and about pages. He also helped with adding the search bar function/display and even created a random book generator.</p>
							<p> Commits:  <span class="badge badge-pill badge-danger"> 17 </span></p>
							<p> Issues:  <span class="badge badge-pill badge-danger"> 8 </span></p>
							<p> Unit Tests:  <span class="badge badge-pill badge-danger"> 5 </span></p>
							<p>Checkout my favorite author
							<a href="http://findabookfor.me/author/1947-09-21">Stephen King</a></p>
						</div>
				</div>
			</div>
		</div>

		<br />
		<hr width = "50%">
		<div class = "container">
			<center>
			<div class = "row">
				<div class = "col align-self-center">
					<h2><font size = 5 align = "center"> Xiaoxia(Shirley) Wu </font></h2>
				</div>
			</div>
			</center>
			<div class = "row">
				<right>
				<div class = "col">
					<img src="../static/images/Shirley.jpg" class="rounded-circle" width="220px" />
				</div>
				</right>
				<div class = "col">
						<br />
						<div>
							<p>Bio: Shirley is applied mathematician at UT Austin. She likes coding and doing research in machine learning. Python is her favorite coding language.</p>
							<p>Responsibilities: Shirley's responsibilities for this project were designing the book pages, helping with understanding the python packages including flask that make the website work.</p>
							<p>Commits:  <span class="badge badge-pill badge-danger"> 12 </span></p>
							<p>Issues:  <span class="badge badge-pill badge-danger"> 6 </span></p>
							<p>Unit Tests:  <span class="badge badge-pill badge-danger"> 4 </span></p>
							<p>Checkout my favorite author
							<a href="http://findabookfor.me/author/1965-07-31">J. K. Rowling</a></p>

						</div>
				</div>
			</div>
		</div>

		<center>
		<br />
		<hr width = "68%">
			<h2><font size = 6> Team Statistics </font></h2>
				<font size = 5> Total Commits: 135 </font>

			<br />
				<font size = 5> Total Issues: 70 </font>

			<br />
				<font size = 5> Total Unit Tests: 23 </font>

			<br />
				<p>Part 1
			<br />
				<a href="https://gitlab.com/biediger/findabookforme-copy/issues">Link to Issues</a>
			<br />
				<a href="https://gitlab.com/biediger/findabookforme-copy/tree/master">Link to Repo</a></p>

				<p>Part 2
			<br />
				<a href="https://gitlab.com/biediger/findabookforme-copy/issues">Link to Issues</a>
			<br />
				<a href="https://gitlab.com/biediger/findabookforme-copy/tree/master">Link to Repo (Copy of Repo Part 1)</a>
			<br />
				<a href="https://gitlab.com/biediger/findabookforme-copy/wikis/FindABookForMe">Link to Wiki</a></p>

		<hr width = "68%">
			<h2><font size = 6> Speaker Deck </font></h2>
				<a href="https://speakerdeck.com/biedigerw/find-a-book-for-me">Link to Speaker Deck</a>
			<br />

		<hr width = "68%">
			<h2><font size = 6> Data </font></h2>
				<a href="http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Link to Data Source</a>
			<br />
			We obtained our data from the above link, generously provided by Prof. Fraij

		<hr width = "68%">
			<h2><font size = 6> Tools </font></h2>
			We used the following tools to launch this website: GCP, Bootstrap, JavaScript, Flask, PostgreSQL, and SQLAlchemy

		<br />
		<hr width = "68%">
			<h2><font size = 6> Unit Tests </font></h2>
			<button id="request">Run Tests</button>
			<p id="result"></p>
		</center>
	</div>
	<center><img src="../static/images/coverage.png" width="500px" /></center>
		</br>
	<script>
			(function() {

		  'use strict';

		  // find the desired selectors
		  var btn = document.getElementById('request');
		  var bio = document.getElementById('result');

		  // set up a request
		  var request = new XMLHttpRequest();

		  // keep track of the request
		  request.onreadystatechange = function() {
			// check if the response data send back to us
			if(request.readyState === 4) {
			  // add a border
			  bio.style.border = '1px solid #e8e8e8';
			  // uncomment the line below to see the request
			  // console.log(request);
			  // check if the request is successful
			  if(request.status === 200) {
				// update the HTML of the element
				bio.innerHTML = request.responseText;
			  } else {
				// otherwise display an error message
				bio.innerHTML = 'An error occurred during your request: ' +  request.status + ' ' + request.statusText;
			  }
			}
		  }

		  // specify the type of request
		  request.open('Get', '/test/');

		  // register an event
		  btn.addEventListener('click', function() {
			// hide the button
			this.style.display = 'none';
			// send the request
			request.send();
		  });

		})();
	</script>
	</body>
 </html>
