<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

                    <title>{{book["title"]}}</title>
                    </head>
    <body>
    <div class="container">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me
          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('bookpage', pnumber = 1)}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('authorpage', pnumber = 1 )}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publishpage', pnumber = 1)}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li>
            <form id="someForm" action= "/search/">
              <input id = "query" type="text" name = "query" placeholder="Search...">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submit_btn">Search</button>
            </form>
          </li>

        </ul>
        </div>
      </nav>
      </br>
        <main role="main">
            <div class="jumbotron">
                <div class="container">
					<div class = "row">
					<div class = "container"><center>
						<center><h1 class="display-3">{{book["title"]}}</h1>
							<h5>ID: {{book["id"]}}</h5></center>
					</br>
					</div></center>
					</div>
					<div class = "row">
						<div class = "col">
							<center><img src={{book["image_url"]}} width = "400 px"></center>
                        </div>
						<div class = "col">
							<h2>Description</h2>
							<p>{{book["description"]}}</p>
							<h2>Author(s)</h2>
							{% for i in book["authors"] %}
								<p> <a href ="{{url_for('author_profile', authorid = i['born'])}}"> {{i['name']}} </a></p>
							{% endfor %}
							<h2>Publisher(s)</h2>
							{% for i in book["publishers"] %}
								<p> <a href = "{{url_for('publisher_profile', publisherid = i['name'])}}">{{i['name']}} </a></p>
							{% endfor %}
						</div>
					</div>
				</div>
            </div>


            <!-- <hr> -->
            <!-- </div> -->
        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
