<!doctype html>
<html lang="en">
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/global.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../../../scripts/global.js"></script>

    <!-- Favicon, change as desired -->
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">

    <title>Books</title>
    <style>
    .card {
      width: 200px;
    }
    </style>


  </head>
  <body>
  <div class="container">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me


          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('bookpage', pnumber = 1)}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('authorpage', pnumber = 1 )}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publishpage', pnumber = 1)}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li>
            <form id="someForm" action= "/search/">
              <input id = "query" type="text" name = "query" placeholder="Search...">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submit_btn">Search</button>
            </form>
          </li>

        </ul>
        </div>
      </nav>
      </br>
      <h2><center><font size = 9> Your Lucky Books </font></center></h2></div>

<p></p>
<p></p>
<p></p>

  <div class = "row">
    <div class="col-6" align="right">
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">I like these! </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <center><img src="../static/images/catt.gif"/></center>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">You Are Welcome!</button>
              </div>
            </div>
          </div>
          </div>
    </div>
    <div class="col-6" align="left">
    <a href="{{url_for('bookrand')}}" class="btn btn-warning btn-lg" role="button">New Ones?</a>
    </div>
    </div>

    <p></p>
    <p></p>



        {% if books == [] %}
			<p>No books exist</p>
		{% else %}
    <div class = "row">
      <div class = "col-2"></div>
      <div class = "col-8">
        <div class = "container">
          <div class = "card-deck">
				{% for i in books %}
						{% if (loop.index in out) %}
							<div class="card">
								<img class="card-img-top" src='{{i.image_url}}'>
								<div class="card-body">
									<h5 class="card-title">{{i.title}}</h5>
									<p class="card-text">
										Author(s):
										{% for j in i['authors'] %}
										<a href = "{{url_for('author_profile', authorid = j['born'])}}"> {{j['name']}}</a> </br>
										{% endfor %}
										{% for j in i['publishers'] %}
										Publisher(s): <a href = "{{url_for('publisher_profile', publisherid = j['name'])}}"> {{j['name']}}</a> </br>
										{% endfor %}
										ID: {{i.id}}</br>
										Publication Date: {{i.publication_date}}</br>
									</p>
								<a href="{{url_for('book_profile', booknum = i['id'])}}" class="btn btn-primary">See more</a>
								</div>
							</div>
						{% endif %}
				{% endfor %}
        </div>
        </div>
        </div>
        <div class = "col-2"></div>
        </div>
		{% endif %}



</body>
</html>
