<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{dict["name"]}}</title>
  </head>
  <body>
  <div class="container">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me
          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('bookpage', pnumber = 1)}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('authorpage', pnumber = 1 )}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publishpage', pnumber = 1)}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li>
            <form id="someForm" action= "/search/">
              <input id = "query" type="text" name = "query" placeholder="Search...">
              <button tpe = "button" class="btn btn-outline-success btn-xs" type="submit" id="submit_btn">Search</button>
            </form>
          </li>

        </ul>
        </div>
      </nav>
      </br>
      <main role="main">
            <div class="jumbotron">
                <div class="container">
					<div class = "row">
					<div class="container"><center>
						<h1 class="display-3">{{publisher["name"]}}</h1>
					</br>
					</div></center>
					</div>
					<div class = "row">
						<div class = "col">
							<img src={{publisher["image_url"]}} width = "100%">
						</div>
						<div class = "col">
							<p>Description: {{publisher["description"]}}</p>
							<p>Founded: {{publisher["founded"]}}</p>
							<p>Location: {{publisher["location"]}}</p>
							<p>Parent Company: {{publisher["parent"]}}</p>
							<p><a href = {{publisher['wikipedia_url']}}>Wikipedia </a> </p>
							<p><a href = {{publisher['website']}}>Website </a> </p>
						</div>
					</div>
                </div>
            </div>

		    <div class="container">

				<h2>Books</h2>
					<div class = "row">
					{% for i in books %}
						{% if i['publishers'][0]['name'] == publisher['name'] %}
							<div class = "col-sm-2 py-1">
							<div class = "card">
							  <img class = "card-img-top" src ="{{i.image_url}}" width = "75 pxl">
							  <div class = "card-body">
							  <a href = "{{url_for('book_profile', booknum = i['id'])}}"  class="card-title">{{i['title']}}</a>
							  </div>
							</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<h2>Authors</h2>
					<div class = "container">
					<div class = "h-100">
						<div class = "row">
						{% set slots = [] %}
						{% for i in books %}
							{% if i['publishers'][0]['name'] == publisher['name'] and i['authors'][0]['name'] not in slots %}
								{% set p = slots.append(i['authors'][0]['name']) %}

							<div class = "col-sm-2 py-1">
							<div class = "card mb-2">
							  <img class = "card-img-top" src ="{{i['authors'][0]["image_url"]}}" width = "75 pxl">
							  <div class = "card-body h-100">
							  <a href = "{{url_for('author_profile', authorid=i['authors'][0]['born'])}}" >{{i['authors'][0]['name']}} </a>
							  </div>
							</div>
							</div>

							{% endif %}
				     	{% endfor %}
					</div>
				</div></div>
				<hr>

			  </div> <!-- /container -->
      </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
