<!doctype html>
<html lang="en">
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/global.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../../../scripts/global.js"></script>

    <!-- Favicon, change as desired -->
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Publishers</title>
  </head>
  <body>
  <div class="container">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me
          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('bookpage', pnumber = 1)}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('authorpage', pnumber = 1 )}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publishpage', pnumber = 1)}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li>
            <form id="someForm" action= "/search/">
              <input id = "query" type="text" name = "query" placeholder="Search...">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submit_btn">Search</button>
            </form>
          </li>

        </ul>
        </div>
      </nav>
        <h2><center><font size = 9> Publishers </font> </center></h2></div>

		<p></p>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg justify-content-center" >
                  {% for k in range(1,4) %}
                    <li class="page-item"><a class="page-link" href= "{{url_for('publishpageza', pnumber = k)}}">{{k}}</a></li>
                  {% endfor %}
                </ul>
              </nav></div>
        <div class="col-4">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SORT BY
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>-------------</li>
                <li><a href="{{url_for('publisheraz')}}" >Name A-Z</a></li>
                <li><a href="{{url_for('publisherza')}}" style="color:#FF0000">Name Z-A</a></li>
              </ul>
            </div>
          </div>

    </div>

        {% if publishers == [] %}
			<p>No publishers exist</p>
		{% else %}
				{% for publisher in publishers %}
					{% if (loop.index == 1) or (loop.index % 4 == 1) %}
          <div class = "container">
          <div class = "card-deck">
						  <div class="card">
							<img class="card-img-top" src="{{publisher['image_url']}}">
							<div class="card-body">
							  <h5 class="card-title">{{publisher['name']}}</h5>
							  <p class="card-text">
								Founded: {{publisher['founded']}}</br>
								Location: {{publisher['location']}}</br>
								Parent Company: {{publisher['parent']}}</br>
								<a href = [{{publisher['website']}}>Website</a></br>
								<a href = [{{publisher['wikipedia_url']}}>Wikipedia</a></br>
							  </p>
							  <a href="{{url_for('publisher_profile', publisherid = publisher['name'])}}" class="btn btn-primary">See more</a>
							</div>
						  </div>
						{% endif %}

						{% if (loop.index % 4 == 2) or (loop.index % 4 == 3) %}
						  <div class="card">
							<img class="card-img-top" src="{{publisher['image_url']}}">
							<div class="card-body">
							  <h5 class="card-title">{{publisher['name']}}</h5>
							  <p class="card-text">
								Founded: {{publisher['founded']}}</br>
								Location: {{publisher['location']}}</br>
								Parent Company: {{publisher['parent']}}</br>
								<a href = {{publisher['website']}}>Website</a></br>
								<a href = {{publisher['wikipedia_url']}}>Wikipedia</a></br>
							  </p>
							  <a href="{{url_for('publisher_profile', publisherid = publisher['name'])}}" class="btn btn-primary">See more</a>
							</div>
						  </div>
						{% endif %}

						{% if (loop.index % 4 == 0) %}
						  <div class="card">
							<img class="card-img-top" src="{{publisher['image_url']}}">
							<div class="card-body">
							  <h5 class="card-title">{{publisher['name']}}</h5>
							  <p class="card-text">
								Founded: {{publisher['founded']}}</br>
								Location: {{publisher['location']}}</br>
								Parent Company: {{publisher['parent']}}</br>
								<a href = [{{publisher['website']}}>Website</a></br>
								<a href = [{{publisher['wikipedia_url']}}>Wikipedia</a></br>
							  </p>
							  <a href="{{url_for('publisher_profile', publisherid = publisher['name'])}}" class="btn btn-primary">See more</a>
							</div>
						  </div>
							</div>
							</div>
						{% endif %}
				{% endfor %}
			</div>
		{% endif %}
</body>
</html>
